{% extends 'habit_records.html' %}
{% block script %}

var chartConfig = {
  type: 'horizontalbar',
  data: {
    labels: {{ labels|safe }},
    datasets: [{
      label: 'Habit',
      backgroundColor: 'blue',
      data: {{ data|safe }}
    }]          
  },
  options: {
    scales: {
      yAxes: [{
        gridLines: {
          offsetGridLines: true
            }
        }]
    }
  }
    responsive: true,
    legend: {
      position: 'top',
    },
    title: {
      display: true,
      text: 'Your Habit History'
    }
  }

  window.onload = function() {
  var ctx = document.getElementById('bar-chart').getContext('2d');
  window.myPie = new Chart(ctx, chartConfig);
};

{% endblock %}