{% extends 'base.html'%}

{% block content %}

{% if user.username in observers or user.username == habit.owner.username %}

<div class="logs-container">

    <div id='data-holder' data-pk={{habit.pk}} data-owner={{habit.owner.username}} data-user={{user.username}}>
    </div>

    <div class="habit-logs-container">


        <div class="habit-container">
            <section class='habit-content'>
                <h2 class="title">{{habit.title}}</h2>
                <p class="description">{{habit.owner.username}}'s goal is {{habit.goal}} {{habit.units}} per day.</p>
            </section>

            <section class='observers'>
                {% if observers %}
                <h3>Observers of {{habit.owner.username}}'s habit:</h3>
                <ul class="observer-list">
                    {% for observer in observers %}
                    <li>{{observer}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
        </div>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Daily logs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Achievement </td>
                </tr>
                {% for log in logs %}
                <tr>
                    <td class="date" data-date="{{log.date}}">{{log.date}}</td>
                    <td class="achievement">{{log.achievement}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% else %}
<p class="warning">
    {{user.username}} must be added as an observer by the owner of this habit to view this page.
</p>
{% endif %}

{% endblock content %}