{% extends 'base.html' %}

{% block content %}

<div class="all-habits">
  {% for habit in habits %}
  <div class="habit-container">
    <span class="infoicon">
    <section class='habit-content'>
      <h2 class="title">{{habit.title}}</h2>
      <p class="description">My goal is {{habit.goal}} {{habit.units}} per day.</p>
        <p class="buttondisp">
          <a class ="button" href="{% url 'habit_records' habit.pk %}">=</a>
          <a class="button" href="{% url 'add_habit_record' habit.pk %}">+</a>
        </p>
    </section>
  </span>
  </div>
  {% endfor %}
</div>

{% endblock content %}