{% extends 'base.html'%}

{% block content %}

<div id='data-holder' data-pk={{habit.pk}}></div>

<div class="form-layout">

<div class="form-container">
    <section class='habit-content'>
        <h2>{{habit.title}}</h2>
        <p>My goal is {{habit.goal}} {{habit.units}} per day.</p>
        <a class="button button-space" href="{% url 'add_record' %}?habit={{habit.pk}}">+</a>
        <div class= "buttondisp">
        <a class= "edit-button" href="{% url 'edit_habit' habit.pk %}">edit habit</a>
        <a class= "edit-button" href="{% url 'edit_record' habit.pk %}">edit record</a>
        </div>
    </section>
</div>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Daily Records</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Date</td>
            <td>Achievement (Goal: {{habit.goal}} per day) </td>
        </tr>
        {% for record in records %}
        <tr>
            <td class="date" data-date="{{record.date}}">{{record.date}}</td>
            <td class="achievement">{{record.achievement}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock content %}