{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
  <script src="{% static 'js/moment.min.js' %}" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  {% block title %}
  <title>Habit Tracker</title>
  {% endblock title %}
</head>

<body>

  <header class='header'>
    <h1>
      <a href="{% url 'habits' %}">My Habit Tracker</a>
    </h1>
    <div class='login-links'>
      {% if user.is_authenticated %}
      <a href="{% url 'habits' %}">Habits</a>
      |
      <a class='logout' href="/accounts/logout">Logout</a>
      {% else %}
      <a class='login' href="/accounts/login">Login</a>
      |
      <a class='register' href="/accounts/register">Register</a>
      {% endif %}
    </div>

    <div class="buttondisp">
      <a class='header-button' href="{% url 'add_habit' %}">+ habit</a>
      <a class='header-button' href="{% url 'add_record' %}">+ record</a>
    </div>
  </header>

  {% block content %}
  {% endblock content %}

</body>

</html>