{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock meta %}
  <!-- <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,600&display=swap" rel="stylesheet">
  {% block title %}
  <title>Habit Tracker</title>
  {% endblock title %}
</head>
<body>
  <header class='header'>
    <h1>
        <a href="#">My Habit Tracker</a>
    </h1>
    <div class='login-links'>
        {% if user.is_authenticated %}
            <a href="{% url 'habits' %}">Habits</a>
            |
            <a class='logout' href="/accounts/logout">Logout</a>
        {% else %}
            <a class='login' href="/accounts/login">Login</a>
            |
            <a class='register' href="/accounts/register">Register</a>
        {% endif %}
    </div>
  </header>
    <div class="habitcontainer">
      {% for habit in habits %}
      <h4>
      <a href="{% url 'user-record' habit.pk %}">{{habit.title}}</a>
      </h4>
      {% endfor %}
    </div>



  {% block content %} {% endblock content %}
</body>
</html>