:root {
  --main-text-color: rgb(212, 224, 241);
  --main-bg-color: rgb(92, 128, 194);
  --description-color: #288691;
  --title-color: rgb(27, 82, 145);
  --accent-color: rgb(32, 54, 116);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Comfortaa', sans-serif;
}

.width-container {
  width: 80%;
  margin: auto;
}

.records-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--title-color)
}

a:hover {
  text-decoration: underline;
}

input {
  height: 2rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.482);
  margin: .1rem;
  padding: .2rem .4rem;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.submit-button {
  background-color: rgb(26, 137, 170);
  color: whitesmoke;
}

.submit-button:hover {
  background-color: rgb(48, 154, 187);
  color: whitesmoke;
}

.header {
  color: var(--title-color);
  font-weight: bold;
  width: 80%;
  padding: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 10px double var(--main-text-color);
  border-radius: 70px;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.482);
}

.all-habits {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1.5rem;
  margin: auto;
}

.habit-card {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(125, 169, 207);
  margin: 1rem .5rem;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.482);
  width: 27%;
}

.habit-card:hover {
  background-color: rgb(97, 151, 199);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.6);
}

.title {
  display: flex;
  margin: 0;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  /* line-height: 1.6; */
  margin: .5rem;
  margin-top: 1rem;
}

.habit-content {
  margin-top: 2rem;
  text-align: center;
}

.habit-content h2 {
  /* white-space: nowrap; */
}

/****** Preliminary Table styling ******/

table {
  border: 2px solid #333;
  border-radius: 3px;
  margin: 2rem;
}

td {
  border: 1px solid #333;
  border-radius: 3px;
}

th {
  font-size: 1.2rem;
  font-weight: bold;
}

td {
  padding: .2rem;
  text-align: center;
}