:root {
  --main-text-color: #DAFFED;
  --main-bg-color: #1BE7FF;
  --title-color: #E4FF1A;
  --accent-color: #87FF65;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  color: var(--title-color)
}

.header {
  color: var(--title-color);
  font-weight: bold;
  width: 80%;
  padding: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 10px double var(--main-text-color);
  border-radius: 70px;
  margin: auto;
  /* box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.482); */
  /* position: fixed;
  top: 0; */
}

.all-habits {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 80%;
  padding: 2.5rem;
  margin: auto;
}

.habit-container {
  width: max-content;
  margin: 1rem;
  border: 10px double var(--main-text-color);
  border-radius: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.habit-content {
  text-align: center;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.habit-content h2 {
  white-space: nowrap;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


/****** Preliminary Table styling ******/

table {
  border: 2px solid #333;
  border-radius: 3px;
}

td {
  border: 1px solid #333;
  border-radius: 3px;
}

th {
  font-size: 1.2rem;
  font-weight: bold;
}

td {
  padding: .2rem;
  text-align: center;
}