:root {
  --main-text-color: #DAFFED;
  --main-bg-color: #1BE7FF;
  --title-color: #E4FF1A;
  --accent-color: #87FF65;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  color: var(--title-color)
}

.header {
  color: var(--title-color);
  font-weight: bold;
  width: 80%;
  padding: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 10px double var(--main-text-color);
  border-radius: 70px;
  margin: auto;
  /* box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.482); */
  /* position: fixed;
  top: 0; */
}

.habitcontainer {
  display: flex;
  flex-direction: row;
  border: 10px double var(--main-text-color);
  border-radius: 70px;
}
